apiVersion: v1
kind: Service
metadata:
  name: app-service
spec:
  type: LoadBalancer
  selector:
    app: 5ud03r5app
    version: blue   # será reemplazado automáticamente
  ports:
    - port: 80
      targetPort: 8080
